.MyNav {
  background-color: lightcoral;
  align-items: center;
}
.Nav-links-web-title {
  text-decoration: none;
  color: burlywood;
  font-size: x-large;
  padding-right: 15px;
  justify-self: center;
  align-self: center;
  align-items: center;
}
.Nav-links {
  text-decoration: none;
  color: burlywood;
  font-size: large;
  padding-right: 15px;
  justify-self: center;
  align-self: center;
  align-items: center;
  padding-bottom: 0;
}
